html
  head
    title Adam Smith : Developer
    link(href='/static/bower_components/semantic/dist/semantic.min.css', rel='stylesheet')
    link(href='/static/css/style.css', rel='stylesheet')
    link(href='/static/fonts/fonts.css', rel='stylesheet')
  body.shore-gradient
    .ui.middle.aligned.centered.grid.container(style='height:100%;')
      .row
        .center.aligned.column.centre-box
          h1.JennaSue Adam Smith
          ul.newsticker.custom-ticker
            li
              h2 Full-stack Node.js Developer
            li
              h2
                i.ui.small.grey.mail.icon &nbsp;
                a(href='mailto:adamjcsmith@gmail.com')  adamjcsmith@gmail.com
          .ui.divider.hidden
          p
            i.ui.small.grey.star.icon &nbsp;
            a(href='/static/files/Adam-CVXI.pdf') CV/Resumé &nbsp; - &nbsp;
            i.ui.small.grey.square.linkedin.icon &nbsp;
            a(href='https://www.linkedin.com/in/adamjrsmith') LinkedIn &nbsp; - &nbsp;
            i.ui.small.grey.square.github.icon &nbsp;
            a(href='https://www.github.com/adamjcsmith') GitHub

    #content
    script(src='/static/bower_components/jquery/dist/jquery.min.js')
    script(src='/static/bower_components/jquery-advanced-news-ticker/js/newsTicker.js')
    script $('.newsticker').newsTicker({ max_rows: 1, duration: 3500 });
