html
  head
    title Adam Smith : Developer
    link(href='/static/bower_components/semantic/dist/semantic.min.css', rel='stylesheet')
    link(href='/static/css/style.css', rel='stylesheet')
  body.green-blue-gradient
    .ui.middle.aligned.centered.grid.container(style='height:100%;')
      .row
        .center.aligned.column
          h1 Adam Smith
          .ui.hidden.divider
          p
            i(class="ui small green star icon") &nbsp;
            a(href='/static/files/Adam-CVXI.pdf') CV/Resumé &nbsp; - &nbsp;
            i(class="ui small green square linkedin icon") &nbsp;
            a(href='https://www.linkedin.com/in/adamjrsmith') LinkedIn &nbsp; - &nbsp;
            i(class="ui small green square github icon") &nbsp;
            a(href='https://www.github.com/adamjcsmith') GitHub

    #content
